:root {
	--color-green-500: hsl(158, 36%, 37%);
	--color-green-700: hsl(158, 42%, 18%);
	--global-color-black: hsl(212, 21%, 14%);
	--color-grey: hsl(228, 12%, 48%);
	--color-cream: hsl(30, 38%, 92%);
	--color-white: hsl(0, 0%, 100%);
	--color-link: hsl(228, 45%, 44%);
	--para-font-size: 14px;
	--font-primary: 'Montserrat', sans-serif;
	--font-secondary: 'Fraunces', serif;
	--font-weight-normal: 500;
	--font-weight-bold: 700;
}
