/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
	--Grey: hsl(228, 12%, 48%);
	--White: hsl(0, 0%, 100%);
	--Cream: hsl(30, 38%, 92%);
	--primary-text: 'Montserrat', sans-serif;
	--secondary-text: 'Fraunces', serif;
}

/* Typography */
body {
	font-family: var(--primary-text);
	font-size: clamp(0.875rem, 0.875rem + 1.5vw, 2rem);
	background-color: hsl(30, 38%, 92%);
	min-block-size: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-card {
	background-color: var(--White);
	max-inline-size: 95%;
	inline-size: 95%;
	block-size: auto;
	border-radius: 0.525em;
	box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-block: 1em;
}

.product-img {
	inline-size: 100%;
	block-size: auto;
	object-fit: cover;
	display: block;
}

.product-content {
	inline-size: 100%;
	block-size: auto;
	padding: 1.5em;
}

.product-category {
	font-size: 0.85em;
	font-weight: 500;
	color: var(--Grey);
	letter-spacing: 0.3em;
	text-transform: uppercase;
	margin-block: 1.5em;
}

.product-title {
	font-family: var(--secondary-text);
	font-size: 2.8em;
	font-weight: 700;
	line-height: 1.1;
	color: hsl(212, 21%, 14%);
	margin-block-end: 1em;
}

.product-description {
	/* max-inline-size: 95%; */
	font-size: 1.2em;
	color: var(--Grey);
	line-height: 1.5;
	margin-block-end: 1.5em;
}

.price-container {
	display: flex;
	align-items: center;
	gap: 1em;
	/* max-inline-size: 100%; */
	margin-block-end: 1em;
}

.new-price {
	font-family: var(--secondary-text);
	font-size: 2rem;
	font-weight: 600;
	color: hsl(158, 72%, 35%);
	display: flex;
	align-items: center;
}

.original-price {
	font-size: 0.6em;
	color: var(--Grey);
	text-decoration: line-through;
	margin-inline-start: 2em;
}

.cart-btn {
	inline-size: 100%;
	background-color: hsl(158, 36%, 37%);
	color: var(--White);
	border: none;
	border-radius: 0.5em;
	padding: 1.5em 2em;
	font-weight: 0.875em;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.cart-btn:hover {
	background-color: hsl(158, 36%, 37%);
}

.cart-btn:active {
	transform: scale(0.95);
}

.cart-btn:focus {
	outline: 2px solid hsl(126, 13%, 44%);
	outline-offset: 2px;
}

.cart-icon {
	inline-size: 1.8em;
	block-size: 1.8em;
	fill: currentColor;
}

.cart-btn .btn-text {
	font-size: 1.8rem;
}

.attribution .attribution-container {
	/* display: block; */
	margin: 1em auto;
	font-size: 12px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
/* Desktop view */
@media (min-width: 57em) {
	body {
		padding: 2em;
	}

	.product-card {
		max-inline-size: 40em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: stretch;
	}

	.product-img {
		inline-size: 100%;
		block-size: 28.125em;
		/* object-fit: cover;
		display: block; */
	}

	.product-content {
		padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.product-category {
		margin-block-start: 0;
		margin-block-end: 2em;
	}

	.product-title {
		font-size: 2.24rem;
		margin-block-end: 1.25em;
	}

	.product-description {
		font-size: 1.6rem;
		margin-block-end: 2em;
		line-height: 1.5;
	}

	.price-container {
		gap: 2em;
		margin-block-end: 2em;
	}

	.cart-btn {
		font-size: 0.5rem;
		padding: 1.2em 2.2em;
	}

	.attribution .attribution-container {
		margin: 0.5em auto;
		font-size: 12px;
		text-align: center;
	}
}

/* large desktop screen */
@media screen and (min-width: 64.06125em) {
	.product-card {
		max-inline-size: 25em;
		max-block-size: 15em;
	}

	.product-img {
		inline-size: 100%;
		block-size: 15em;
		object-fit: cover;
		display: block;
	}

	.product-category {
		inline-size: 80%;
		font-size: 0.75rem;
		margin-block-start: 0;
		margin-block-end: 2em;
	}

	.product-title {
		font-size: 2rem;
		margin-block-end: 1.25em;
	}

	.product-title .product-title-highlight {
		display: block;
	}

	.product-description {
		font-size: 1rem;
		max-inline-size: 80%;
		margin-block-end: 2em;
		line-height: 1.6;
	}

	.price-container {
		gap: 3em;
		margin-block-end: 1em;
	}

	.new-price {
		font-size: 1.5rem;
	}

	.original-price {
		font-size: 0.8em;
	}

	.cart-btn {
		gap: 1.5em;
		font-size: 0.5rem;
		padding: 1em 2.2em;
	}

	.cart-icon {
		block-size: 1.7em;
	}

	.cart-btn .btn-text {
		font-size: 0.9rem;
	}

	.product-content {
		padding: 1em;
	}
}
